body {
  font-family: "Open Sans";
  background-color: #f9fafc;
  margin: 5%;
}

ul {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -28px;
  padding: 0%;
  color: #69696a;
  list-style: none;
  height: 34px;
}
a {
  display: block;
  padding: 5px;
  flex-direction: column;
  text-decoration: none;
  color: #69696a;
}
.button {
  text-align: center;
  border-style: solid;
  top: 25px;
  padding: 10px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 100%;
  border-radius: 20px;
  color: #fff;
  background-color: #000;
}
.line {
  border-left: 4px solid #69696a;
}
p {
  margin: 10px;
  color: #69696a;
}
h3 {
  position: relative;
  top: 15px;
}
.scroll {
  position: relative;
  top: 15px;
}
h5 {
  font-style: normal;
}
